.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: var(--body-color);
    width: 110px;
    padding: 2.5rem;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}

.nav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: var(--font-slab);
    font-weight: var(--xbold);
    color: var(--title-color);
    transition: all 0.2s ease;
    position: relative;
    padding: 0.3rem;
}

.nav_logo:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top: 4px solid var(--title-color);
    border-right: 4px solid var(--title-color);
    top: 0px;
    right: -14px;
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}

.nav_logo:after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom: 4px solid var(--title-color);
    border-left: 4px solid var(--title-color);
    bottom: 0px;
    left: -14px;
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}

.nav_logo:hover {
    color: var(--primary-color);
    transform: scale(0.8);
}

.nav_logo:hover:before {
    top: -6px;
    right: -20px;
    border-top: 4px solid var(--primary-color);
    border-right: 4px solid var(--primary-color);
}

.nav_logo:hover:after {
    bottom: -6px;
    left: -20px;
    border-bottom: 4px solid var(--primary-color);
    border-left: 4px solid var(--primary-color);
}

.nav_logo img {
    min-width: 44px;
}

.nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
}

.nav_link {
    font-size: 1.2rem;
    color: var(--title-color);
    font-weight: var(--bold);
    transition: all 0.2s ease;
    display: block;
}

.nav_link:hover {
    color: var(--primary-color);
    transform: scale(0.9);
}

.copy_text {
    color: rgb(155, 152, 179);
    font-size: var(--small-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}