.testimonoals {
    min-height: 100vh;
}

.testimonial_data {
    max-width: 520px;
    margin: 0 auto;
    height: 280px;
    margin-top: 6rem;
}

.testimonial_card {
    text-align: center;
    padding: 0 1.25rem 1.25rem;
    max-width: 520px;
}

.testimonial_card .thumb {
    width: 5.6rem;
    height: 5.6rem;
    display: block;
    margin: 0 auto;
}

.testimonial_card .title {
    margin-top: 1rem;
}

.testimonial_card .subtitle {
    color: #8b88b1;
    font-size: var(--small-size);
    padding: 0.2rem 0;
    display: block;
    margin-bottom: 1.5rem;
    font-weight: var(--normal);
}

.testimonial_card .comment {
    display: block;
    padding: 1rem 1.5rem;
    background: var(--container-color);
    font-size: var(--small-size);
    font-weight: var(--thin);
    box-shadow: var(--shadow);
    border-radius: 6px;
    position: relative;
    border: 1px solid var(--text-color);
}

.testimonial_card .comment:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: var(--container-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: rotate(45deg) translate(-70%, -4%);
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: rgb(94 92 127);
}


/* Slider Pagination Design */
.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px !important;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 0.6rem;
    height: 0.6rem;
    background: var(--primary-color);
    opacity: 1;
    border-radius: 2px;
    transition: all 0.2s ease;
    margin: 0 0.5rem !important;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 1.2rem;
}